html {
  background-color: #f9f9f9;
}

body {
  font-family: 'Seravek', 'Arial', sans-serif;
  color: #1b1b1b;
  padding: 1em;
  max-width: 40em;
  margin: auto;
  font-size: 1.15em;
}

header {
  text-align: center;
}

.app-icon {
  width: 120px;
  height: 120px;
  border-radius: 22.37%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer p {
  font-weight: bold;
}
