body {
  background: url(https://static.topomaps.app/img/nautical-charts-background.png) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  font-family: -apple-system, 'Lato', sans-serif;
  background-color: #F1FDFE;
  color: white;
  padding: 0;
  margin: 0;
}

.app-wrapper, .features-wrapper, .screenshots-wrapper, footer {
  padding: 1em;
}

.icon {
  width: 175px;
  height: 175px;
  border-radius: 22.37%;
}

.app-title {
  font-weight: 1000;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.features-wrapper ul {
  display: table;
  margin: 0 auto;
  text-align: left;
  margin-top: 1em;
}

.screenshots-wrapper {
  margin: 0;
}

.screenshot {
  width: 15em;
  margin: 1em;
  border-radius: 7.5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

footer p {
  margin-top: 0;
}

footer a {
  color: white;
}
